.alarmcontainer {
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 20px;
    background-color: #f8f9fa;
}
/* Individual alert item */
.alarmitem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling the icons */
.alarmicon {
    width: 40px;
    height: 40px;
    margin-right: 15px; /* Space between the icon and the text */
}

/* Styling the text */
.alerttext {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    cursor: grab;
}

/* Button hover effects */
.alertitem:hover {
    background-color: #e9ecef;
    cursor: grab;
}

/* Responsive design */
@media (max-width: 768px) {
    .alert-icon {
        width: 30px; /* Smaller icon size for mobile */
        height: 30px;
    }

    .alert-text {
        font-size: 0.9rem; /* Adjust font size for smaller screens */
    }
}
